<section>
<h1>Activity elsewhere</h1>
<ul id="social">
  <li><a href='http://www.flickr.com/photos/bsag/' title='My photographs on flickr'>
    <img src='/blog/images/flickr-large.png' />
  </a></li>
  <li><a href='http://www.twitter.com/bsag' title='Follow me on Twitter'>
    <img src='/blog/images/twitter-large.png' />
  </a></li>
  <li><a href='http://www.last.fm/user/bsag' title="What I'm listening to on Last.fm">
    <img src='/blog/images/lastfm-large.png' />
  </a></li>
  <li><a href='http://friendfeed.com/bsag' title='Collected social stuff on friendfeed'>
    <img src='/blog/images/friendfeed-large.png' />
  </a></li>
  <li><a href='http://pinboard.in/u:bsag' title='Bookmarks on Pinboard.in'>
    <img src='/blog/images/pinboard-large.png' />
  </a></li>
  <li><a href='http://bsag.tumblr.com/' title='Slipstream: my Tumblr blog for quick posts'>
    <img src='/blog/images/tumblr-large.png' />
  </a></li>
</ul>
</section>
