<section>
<h1>Activity elsewhere</h1>
<ul id="social">
  <li class="flickr"><a href='http://www.flickr.com/photos/bsag/' title='My photographs on flickr'>Photos on flickr</a></li>
  <li class="twitter"><a href='http://www.twitter.com/bsag' title='Follow me on Twitter'>Follow me on Twitter</a></li>
  <li class="lastfm"><a href='http://www.last.fm/user/bsag' title="What I'm listening to on Last.fm">Music on Last.fm</a></li>
  <li class="pinboard"><a href='http://pinboard.in/u:bsag' title='Bookmarks on Pinboard.in'>Links on Pinboard</a></li>
  <li class="tumblr"><a href='http://bsag.tumblr.com/' title='Slipstream: my Tumblr blog for quick posts'>Slipstream on Tumblr</a></li>
</ul>
</section>
