<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7" manifest="default.appcache?v=1"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" manifest="default.appcache?v=1" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>{% if page.title %}{{site.short_title}} &raquo; {{page.title}}{% else %}{{site.title}}{% endif %}</title>
  <meta name="author" content="{{site.author}}">
  {% if page.description %}
    <meta name="description" content="{{page.description}}"/>
  {% endif %}

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.keywords %}
    <meta name="keywords" content="{{page.keywords}}"/>
  {% endif %}

  <link href="{{ root_url }}/favicon.ico" rel="shortcut icon" />
  <link href="{{ root_url }}/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="{{ root_url }}/javascripts/modernizr-2.0.js"></script>
  <script src="{{ root_url }}/javascripts/jquery.min.js"></script>
  <script type="text/javascript">
    $(document).ready(function() {
        // empty
    });
  </script>
    
  <script src="http://s3.amazonaws.com/ender-js/jeesh.min.js"></script>
  <script src="{{ root_url }}/javascripts/octopress.js" type="text/javascript"></script>
  <script src="{{ root_url }}/javascripts/footnotes.js" type="text/javascript"></script>
  <script type="text/javascript" src="http://use.typekit.com/pkq3bvb.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <link href="{{ root_url }}/feeds/recent_articles.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml"/>
  {% include google_plus_one.html %}
  {% include twitter_sharing.html %}
</head>
