// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.

$header-bg: #f8f8f8;
$title-color: #222;
$page-bg: #eee;

/* Link colours */
$link-color: #222;
$link-color-hover: #FF6C07;

/* Navigation bar */
$nav-bg: #333;
$nav-color: lighten($nav-bg, 70);
$nav-color-hover: $link-color-hover;
$nav-placeholder: desaturate(lighten($nav-bg, 10), 15);
$nav-border: lighten($nav-bg, 10);
$nav-border-top: darken($nav-bg, 15);
$nav-border-bottom: lighten($nav-bg, 25);
$nav-border-left: lighten($nav-bg, 11);
$nav-border-right: darken($nav-bg, 7);


//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);


//To use the light Solarized highlighting theme uncomment this block
//$base03: $base3;
//$base02: $base2;
//$base01: $base1;
//$base00: $base0;
//$base0: $base00;
//$base1: $base01;
//$base2: $base02;
//$base3: $base03;
