// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* Over-ride fonts for Typekit */
.heading {
  font-family: "museo-slab-1", "museo-slab-2", Arial, Verdana, sans-serif;
}

.sans {
  font-family: "museo-slab-1", "museo-slab-2", Arial, Verdana, sans-serif;
}

.serif {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Palatino, Georgia, Times, serif;
}

/* Override link typography for links within sup elements */

i { font-style: italic; }
b { font-weight: bold; }

/* Styling of footnote indicators */
sup a, sub a { font-size: 0.8em; position: relative;  display: inline-block; }
sup a { top: -.5em; }
sub a { bottom: -.5em; }

/* Box shadow for main body */
body {
  -moz-box-shadow: 3px 3px 10px #CCC;
  -webkit-box-shadow: 3px 3px 10px #CCC; 
  -box-shadow: 3px 3px 10px #CCC;
}  


@media only screen and (min-width: 992px) {
  body { font-size: 1em; }
  h1 { font-size: 2.0em; line-height: 1.2em; }
}

body > header {
  background: $header-bg image-url('fruitbat-cropped.png') 25px 0px;
  background-repeat: no-repeat;
  padding-top: .8em;
  padding-bottom: .8em;

  h1 {
    display: inline-block;
    margin: 0;
    margin-left: 4em;
    font-size: 2em;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin-left: 8em;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-style: italic;
  }
}

article {
  > footer.top {
    padding-bottom: 1.5em;
    margin-top: 2em;
    @extend .sans;
    p.meta {
      margin-bottom: 0em;
      // font-size: .85em;
      color: $text-color-light;
        a { color: $text-color-light; 
          &:hover, &:active { color: $link-color-hover; }
        }
    }
    .categories:before, .comments:before {
      @extend .separator;
    }
  }
}

.footnotes {
  border-top: 1px solid #CCC; 
  padding-top: 10px;
  font-size: 0.9em;
    li {
      margin-left: 20px; line-height: 1em;
        a { text-decoration: none; }
      } 
}

