// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

/* Over-ride fonts for Typekit */
.heading {
  font-family: "museo-slab-1", "museo-slab-2", Arial, Verdana, sans-serif;
}

.sans {
  font-family: "museo-slab-1", "museo-slab-2", Arial, Verdana, sans-serif;
}

.serif {
  font-family: "ff-tisa-web-pro-1", "ff-tisa-web-pro-2", Palatino, Georgia, Times, serif;
}

/* Override link typography for links within sup elements */
sup a, sub a { font-size: 0.8em; position: relative;  display: inline-block; }
sup a { top: -.5em; }
sub a { bottom: -.5em; }

/* Box shadow for main body */
body {
  -moz-box-shadow: 3px 3px 10px #CCC;
  -webkit-box-shadow: 3px 3px 10px #CCC; 
  -box-shadow: 3px 3px 10px #CCC;
}  

body > header {
  background: $header-bg image-url('fruitbat-cropped.png') 25px 0px;
  background-repeat: no-repeat;
  padding-top: .8em;
  padding-bottom: .8em;

  h1 {
    display: inline-block;
    margin: 0;
    margin-left: 4em;
    font-size: 2em;
    a, a:visited, a:hover {
      color: $title_color;
      text-decoration: none;
    }
  }
  h2 {
    margin-left: 8em;
    @extend .sans;
    font-size: 1em;
    color: $subtitle-color;
    font-style: italic;
  }
}

.footnotes {
  border-top: 1px solid #CCC; 
  padding-top: 10px;
  font-size: 0.8em;
    li {
      margin-left: 20px; line-height: 1em;
        a { text-decoration: none; }
      } 
}

/* Floating footnote DIV */
#footnotediv {
	position:absolute;
	width:400px;
	overflow:visible;
}
#footnotediv div {
	background-color:white;
	padding:3px;
	padding-left:12px;
	padding-right:12px;
	border:1px solid #CDBBB5;
	box-shadow:#555 0 0 10px;
	-webkit-box-shadow:#555 0 0 10px;
	-moz-box-shadow:0 0 10px #555;
}

